<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>cn.tm.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantitylncDecServlet</display-name>
    <servlet-name>QuantitylncDecServlet</servlet-name>
    <servlet-class>cn.tm.servlet.QuantitylncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantitylncDecServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>cn.tm.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>cn.tm.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpSrvlet</display-name>
    <servlet-name>SignUpSrvlet</servlet-name>
    <servlet-class>cn.tm.servlet.SignUpSrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpSrvlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>cn.tm.servlet.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomServlet</display-name>
    <servlet-name>CustomServlet</servlet-name>
    <servlet-class>cn.tm.servlet.CustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomServlet</servlet-name>
    <url-pattern>/custom</url-pattern>
  </servlet-mapping>
</web-app>